#hm{
    padding-left: 100px;
}

#hn{
    padding-left: 15px;
    font-size: x-large;
    font-weight: bolder;
}
#fir{
    margin-left: 50px;
    display: flex;
}
#sec{
    margin-left: 15px;
}
#txt{
    font-size: large;
}
#tri{
    margin-left: 15px;
    
}
#tex1{
    text-decoration: line-through;
}

#for{
    margin-left: 15px;
}

#fiv{
    margin-left: 50px;
    display: flex;
}
#six{
    margin-left: 15px;
}
#svn{
    margin-left: 15px;
}
#nin{
    margin-left: 15px;
}